body, html {
    height: 100%;
    margin: 0, auto;
    background-color: #333 !important;
}

.background-image {
    background-image: url("../images/girl2.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content-wrapper{
    background-image: url("../images/girl2.png") !important;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#conatiner {
    height: 100%;
    width: 100%;
    margin: 0;
}

.flex-main {
    display: flex;
    justify-content: space-between;
//    margin-bottom: 0;
//    margin-left: 0;
//    margin-right: 0;
//    height: 50%;
//    margin-top: 3em;
//    margin-bottom: 0;
//    padding-top: 10%;
}


///testing canvas position
//#contain-camera {
////    margin-top: 15%;
//    height: 250px;
//    position: relative;
//    width: 500px;
//}

#controls {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}


//.camera-placeholder {
//  height: 275px !important;
//}

.container-images {
    position: relative !important;
    width: 50% !important;
}

.carousel-img-styling {
    opacity: 1 !important;
    display: block !important;
    width: 100% !important;
    height: auto !important;
    transition: .5s ease !important;
    backface-visibility: hidden !important;
}

.carousel-btn {
    transition: .5s ease !important;
    opacity: 0 !important;
    position: absolute !important;
    top: 85% !important;
    right: -95% !important;
    transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%)
}

.container-images:hover .carousel-img-styling {
    opacity: 1 !important;
}

.container-images:hover .carousel-btn {
    opacity: 1 !important;
    cursor: pointer !important;
}

.delete-photo-icon {
    background-color: #77bfc7 !important;
    color: white !important;
    border-radius: 50% !important;
    padding: 8px 8px !important;
}


//.btn-floating.halfway-fab {
//    bottom: 125px;
//    right: 45%;
////    border-radius: 0 !important;
//}

.camera-icon {
    height: 64 !important;
    width: 64 !important;
}

.carousel .carousel-item {
    width: 400px !important;
    margin: 0 !important;
//    height: 500px !important;
}

.carousel .carousel-item img{
    width: 400px !important;
    margin: 0 !important;
//    border-radius: 10px !important;
//    height: 500px !important;
}

//.carousel-img-btn {
//    position: relative;
////    text-align: right;
//}
//.photo-delete-btn {
////    margin-top: 70% !important;
//    position: absolute;
//    top: 70% !important;
//    right: -70% !important;
////    left: 70 !important;
////    bottom: 0 !important;
//}

.flex-title {
    display: flex;
    justify-content: flex-start;
}

.flex-title div {
    margin: 10px;
    padding: 10px;
}

.suite-title-tag {
    display: inline-block;
}

//navbar , side nav, nav modal
nav li, a {
    font-family: 'Josefin Slab', serif !important;
}

.suitcase-modal {
    background-color: #e5e5e5 !important;
    border-radius: 15px !important;
    color: #666 !important;
    font-family: 'Josefin Slab', serif !important;
    width: 30% !important;
}

.suitcase-modal a {
    margin: 3px !important;
}

.suit-modal-btn {
    background-color: #77bfc7 !important;
}

.suitcase-modal input {
    font-size: 1.5em !important;
}

//.activeStuff {
//    border-bottom: 2px solid black !important;
//}

.side-nav {
    background-color: #77bfc7 !important;
}


//landing card page
.dark-color-text a {
    color: #333 !important;
}

.flex-landing-card {
    display: flex;
    justify-content: space-between;
}

.landing-card-input {
    width: 70% !important;
    font-family: 'Josefin Slab', serif !important;
    font-size: 1.5em !important;
//    margin-right: 0 !important;
    margin-left: 5px !important;
}

.landing-card i{
    width: 40px !important;
    color: #999 !important;
    padding-top: 10px !important;
    margin-right: 10px !important;
}

.landing-card-position {
    margin-left: 15% !important;
    padding-top: 5em !important;
}

.landing-card-styling {
    margin: 0 !important;
    border-radius: 15px !important;
//    box-shadow: 5px 5px 15px black;
    box-shadow: -5px 5px 15px 5px #191919;
}

.card-content {
    padding: 15px !important;
}

.card-content p {
    padding: 5px !important;
    font-family: 'Josefin Slab', serif !important;
    font-size: 1.5em !important;
}

.circle {
    border-radius: 15px !important;
}

.input-field {
    width: 20% !important;
    margin-left: 40% !important;
}


//second navbar
.breadcrumbs {
    text-align: center !important;
    padding-top: 3em !important;
}

.breadcrumbs a {
    color: white !important;
    font-size: 1.5em !important;
    width: 20% !important;
    margin-top: 10px !important;
    margin-right: 25px !important;
}

.breadcrumbs img {
    width: 40px;
    height: 40px;
    vertical-align: middle !important;
    margin-bottom: 5px !important;
}

.nav-background {
    background-color: #85D5DE !important;
}

.second-nav {
    background-color: white !important;
}

.second-nav-color i{
    color: #999 !important;
}

.suitcase-title {
    color: #333 !important;
//    border-bottom: none !important;
//    font-size: 2rem !important;
//    width: 35% !important;
//    padding-top: 5px !important;
//    margin-bottom: 0 !important;
}




//pack list page
.pack-list-wrap {

}
.list-thumbnail {

    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 100px !important; /* Set a small width */
    height: 100px !important;
}

.pack-list-add-btn {
    background-color: #77bfc7 !important;
    margin-top: 8em !important;
    margin-left: 15% !important;
}

.pack-list {
//    background-color: #85D5DE !important;
    background:rgba(133,213,222, 0.8) !important;
}

.label-cards {
    column-count: 6 !important;
}

.pack-list-color {
    background-color: white;
    font-family: 'Josefin Slab', serif !important;
    border-radius: 15px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
    -webkit-column-break-inside: avoid;
}

.popout-styling {
    margin-top:  0;
    padding-top: 2em !important;
    width: 65% !important;
    margin-left: 20%;
}

.background-images-pack-list {
    background:rgba(133,213,222, 0.9) !important;
}

.add-list-item {
//    background-color: bisque !important;
}

.collapsible-header {
    font-family: 'Josefin Slab', serif !important;
}

.pack-list-delete-icon {
    color: #999 !important;
}


.label-icon {
    color: #999 !important;
}

.clothing-icons {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 12px;
}

// LOGIN Styling //
.contain-login-page {
    padding-top: 1em !important;
}

.logo-login {
    padding-bottom: 1.5em !important;
    padding-left: 5% !important;
}

.logo-login a {
    color: #77bfc7 !important;
    font-family: 'Handlee', cursive !important;
}

.login-form {
    background:rgba(255,255,255, 0.9) !important;
    width: 60%;
    border-radius: 15px !important;
    border: 1px #999 solid !important;
    box-shadow: -5px 5px 15px 5px #191919;
}

.flex-btn {
    width: 50% !important;
    display: flex !important;
    justify-content: center !important;
    margin-left: 25% !important;
}

.login-btn {
    padding: 0 !important;
    font-size: 1vw !important;
    background-color: #77bfc7 !important;
    font-family: 'Josefin Slab', serif !important;
}

.login-p-tag {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.login-input {
    width: 50% !important;
    margin-left: 25% !important;
}

.register-btn {
    width: 100% !important;
    font-size: 1vw !important;
    padding: 0 !important;
    background-color: #77bfc7 !important;
    font-family: 'Josefin Slab', serif !important;
}







