body, html {
    height: 100%;
    margin: 0, auto;
    background-color: #333 !important;
}

//html {
//  background: url("../images/home6.jpg") no-repeat center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//
//}

.background-image {
    background-image: url("../images/girl2.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content-wrapper{
    background-image: url("../images/girl2.png") !important;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#conatiner {
    height: 100%;
    width: 100%;
    margin: 0;
}

.flex-main {
    display: flex;
    justify-content: space-between;
//    margin-bottom: 0;
//    margin-left: 0;
//    margin-right: 0;
//    height: 50%;
//    margin-top: 3em;
//    margin-bottom: 0;
//    padding-top: 10%;
}


///testing canvas position
#contain-camera {
//    margin-top: 15%;
    height: 250px;
    position: relative;
    width: 350px;
}

#controls {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

#snapshot {
    height: 275px;
    width: 350px;
}

.carousel-1 {
//    margin-top: 1.5em;
}

.webcam-div {
//    width: 35%;
}

.camera-placeholder {
  height: 275px !important;
}


.btn-floating.halfway-fab {
    bottom: 125px;
    right: 45%;
//    border-radius: 0 !important;
}

.camera-icon {
    height: 64 !important;
    width: 64 !important;
}

.carousel .carousel-item {
    width: 400px !important;
    margin: 0 !important;
//    height: 500px !important;
}

.carousel .carousel-item img{
    width: 400px !important;
    margin: 0 !important;
//    border-radius: 10px !important;
//    height: 500px !important;
}


.flex-title {
    display: flex;
    justify-content: flex-start;
}

.flex-title div {
    margin: 10px;
    padding: 10px;
}

.suite-title-tag {
    display: inline-block;
}

//.title-delete-icon {
//    margin-top: 10px !important;
//}

.activeStuff {
    border-bottom: 2px solid black !important;
}

.nav-background {
    background-color: #85D5DE !important;
}

.second-nav {
    background-color: white !important;
}

.second-nav-color i{
    color: #999 !important;
}

.suitcase-title {
    color: #333 !important;
//    border-bottom: none !important;
//    font-size: 2rem !important;
//    width: 35% !important;
//    padding-top: 5px !important;
//    margin-bottom: 0 !important;
}


.side-nav {
    background-color: #85D5DE !important;
}

.dark-color-text a {
    color: #333 !important;
}

.flex-landing-card {
    display: flex;
    justify-content: space-between;
}

.landing-card-input {
    width: 70% !important;
}

.landing-card i{
    width: 40px !important;
}

.landing-card-position {
    margin-left: 10% !important;
    padding-top: 5em !important;
}

.landing-card-styling {
    margin: 0 !important;
    border-radius: 15px !important;
}

.card-content {
    padding: 15px !important;
}

.card-content p {
    padding: 5px !important;
}

.circle {
    border-radius: 15px !important;
}

.input-field {
    width: 20% !important;
    margin-left: 40% !important;
}

.breadcrumbs {
    text-align: center !important;
    padding-top: 3em !important;
}

.breadcrumbs a {
    color: white !important;
    font-size: 1.5em !important;
    width: 20% !important;
    margin-top: 10px !important;
    margin-right: 25px !important;
}

.breadcrumbs img {
    width: 40px;
    height: 40px;
    vertical-align: middle !important;
    margin-bottom: 5px !important;
}

.list-thumbnail {

    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 100px !important; /* Set a small width */
    height: 100px !important;
}

.pack-list {
    background-color: #85D5DE !important;
}

//.pack-list-flex {
//    display: flex !important;
//    justify-content: center!important;
//}

.pack-list-color {
    background-color: white;
}

.popout-styling {
    margin-top:  0;
    padding-top: 3em !important;
//    display: flex !important;
//    flex-flow: row;
//    justify-content: center !important;
}

.add-list-item {
//    background-color: bisque !important;
}

 .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
