<div>
   <div>Log In
       <input type="email" ng-model="auth.email" placeholder="email">
        <input type="password" ng-model="auth.password" placeholder="password">
        <button ng-click="login()">login</button>

   </div>

   <br><br>

   <div>Register
    <input type="text" ng-model="auth.firstName" placeholder="first name">
    <input type="text" ng-model="auth.lastName" placeholder="last name">
    <input type="email" ng-model="auth.email" placeholder="email">
    <input type="password" ng-model="auth.password" placeholder="password">
    <button ng-click="register()">register</button>
    </div>
</div>
