<!--main nav-->
<div ng-include="'partials/nav.html'"></div>

<!--second nav-->
<nav class="second-nav" ng-controller="NavCtrl">
<!--   view selected-->
    <div class="nav-wrapper second-nav-color">
        <a class="brand-logo center suitcase-title hide-on-med-and-down">{{suitName}} ~ Bottoms</a>
        <ul class="left">

            <li ng-controller="NavCtrl">
                <a class='dropdown-button active dark-color-text' data-activates='demoDropdown3' dropdown data-hover="true">
                    Clothing
                </a>
        <!-- Dropdown Structure -->
                <ul id='demoDropdown3' class='dropdown-content'>
                    <li><a ng-click="choseListPath('tops')">Tops</a></li>
                    <li><a ng-click="choseListPath('bottoms')">Bottoms</a></li>
                    <li><a ng-click="choseListPath('shoes')">Shoes</a></li>
                    <li><a ng-click="choseListPath('closet')">Closet</a></li>
                </ul>
            </li>
            <li ng-controller="NavCtrl">
                <a class='dropdown-button active dark-color-text' data-activates='demoDropdown2' dropdown data-hover="true">
                    Packlist
                </a>
        <!-- Dropdown Structure -->
                <ul id='demoDropdown2' class='dropdown-content'>
                    <li><a ng-click="choseListPath('packlist')">Current List</a></li>
                    <li><a ng-click="choseListPath('stored')">Saved List</a></li>
                </ul>
            </li>
        </ul>
        <!--    title and counter display-->
        <ul class="right">
            <li class= dark-color-text><a href="">Bottoms Packed: {{counter}}</a></li>
            <li><a tooltipped data-position="bottom" data-delay="50" data-tooltip="edit title"><i ng-click="" class="material-icons" data-target="edit-mode-modal" modal>mode_edit</i></a></li>
            <li><a tooltipped class="title-delete-icon" data-position="bottom" data-delay="50" data-tooltip="Delete Suitcase?"><i ng-click="deleteSuitcase(suitKey)" class="material-icons">delete</i></a></li>
        </ul>
    </div>
<!--    change suitcase title modal-->
    <div id="edit-mode-modal" class="modal suitcase-modal">
        <div class="modal-content">
            <input type="text" ng-model="newSuitcase.title" placeholder="Rename Suitcase" maxlength="32">
        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect btn-flat">Cancel</a>
          <a class="btn waves-effect" ng-click="editSuitcaseTitle()">Add</a>
        </div>
    </div>
</nav>




<!--main content-->
<div class="main-content-wrapper">
<!--    breadcrumb and slide out nav-->
    <div class="row center-align">
        <div class="col m4">
            <a ng-controller="ClosetCtrl" ng-click="addBottomsToCloset()" class="waves-effect waves-light btn closet-btn"><i class="material-icons left">add</i>Save to Closet</a>
        </div>
        <div class="col m4">
            <a tooltipped data-activates="slide-out" class="button-collapse" data-position="bottom" data-delay="50" data-tooltip="take an awesome photo"><img class="camera-icon" src="../images/camera.png"></a>
        </div>
        <div class="col m4"></div>
    </div>

    <div class="empty-content-message" ng-hide="emptyPhotosMessage">
        <h4>Now let's add pictures of what bottoms<br> to go with your tops</h4>
        <h5>Packing has never been so fun!</h5>
    </div>


    <div>
    <!--    //carousel-->
        <div class="carousel carousel-1">
            <div id="card--{{items.key}}" ng-repeat="items in imageArrayOfObj" on-finish-render="ngRepeatFinished" class="carousel-item row">
                <div class="container-images">
                    <img class="carousel-img-styling" ng-src="{{items.url}}">
                    <div class="carousel-btn">
                        <a ng-click="deleteBottoms(items)" class="waves-effect waves-circle waves-light"><i class="material-icons delete-photo-icon">delete</i></a>

                        <a tooltipped class="waves-effect waves-circle waves-light title-delete-icon" data-position="bottom" data-delay="50" data-tooltip="save photos to your closet" ng-click="addToCloset(items)" ng-controller="ClosetCtrl"><i class="material-icons delete-photo-icon">add</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    slide out camera content-->
    <ul id="slide-out" class="side-nav">
        <h4>Pants, skirts, or shorts?<br>Take a photo of them all</h4>
        <h5>We'll add them to your Pack List!</h5>
        <div class="userView">
            <div id="contain-camera">
                <div class="alert alert-error ng-scope" ng-show="webcamError">
                    <span>Webcam could not be started. Did you give access to it?</span>
                </div>
                <!--    // webcam view-->
                <div class="camera-conatiner-div">
                    <div ng-hide="hideDiv" class="webcam-div">
                        <webcam channel="channel"
                            on-streaming="onSuccess()"
                            on-error="onError(err)"
                            on-stream="onStream(stream)">
                        </webcam>
                        <div class="add-photo-btn">
                            <a class="btn waves-effect suit-modal-btn" ng-click="makeSnapshot()">Take a pic!</a>
                        </div>
                    </div>
                    <!--// canvas view-->
                    <div ng-hide="hideCamDiv" class="webcam-div">
                        <canvas id="snapshot" class="canvas-photo"></canvas>
                        <div class="add-photo-btn">
                            <a ng-click="addToCarousel()" class="btn waves-effect waves-light suit-modal-btn">Save to Suitcase</a>
                            <a ng-click="hideCanvas()" class="waves-effect btn-flat">Retry</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>
