<div ng-include="'partials/nav.html'"></div>

<nav class="second-nav" ng-controller="NavCtrl">
    <div class="nav-wrapper second-nav-color">
        <a href="#!" class="brand-logo center second-nav-color-text">{{suitObj.title}}</a>
        <a class="title-delete-icon"><i ng-click="deleteSuitcase(currentKey)" class="material-icons">delete</i></a>
        <ul class="left hide-on-med-and-down">
            <li class="active" ng-repeat="stuff in menuItems"><a href="#!/{{stuff.key.url}}">{{stuff.key.name}}</a></li>
            <li><a href="">Items: {{counter}}</a></li>
        </ul>
    </div>
</nav>


<div class="flex-main">

    <!--    //carousel-->
    <div class="carousel carousel-1">
        <div id="card--{{items.key}}" ng-repeat="items in imageArrayOfObj" on-finish-render="ngRepeatFinished" class="carousel-item row">
            <div class="col s12 m6">
                <img src="{{items.url}}">
                <a ng-click="deleteBottoms(items)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
            </div>
        </div>
    </div>

    <!--   //camera did not load-->
    <div id="contain-camera">
        <div class="alert alert-error ng-scope" ng-show="webcamError">
            <span>Webcam could not be started. Did you give access to it?</span>
        </div>

        <!--    // webcam view-->
        <div ng-hide="hideDiv">
            <webcam channel="channel"
                on-streaming="onSuccess()"
                on-error="onError(err)"
                on-stream="onStream(stream)">

            </webcam>
            <button ng-click="makeSnapshot()">take picture</button>
        </div>

        <!--// canvas view-->
        <div ng-hide="hideCamDiv" class="row">
            <div class="card-image">
                <canvas id="snapshot"></canvas>
                <a ng-click="addToCarousel()" class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a>
                <a ng-click="hideCanvas()" class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></a>
            </div>
        </div>

    </div>
</div>
