
<div id="contain-camera">

    <div class="alert alert-error ng-scope" ng-show="webcamError" style="">
        <span>Webcam could not be started. Did you give access to it?</span>
    </div>

<!--    // webcam view-->
    <div ng-hide="hideDiv">
        <webcam channel="channel"
            on-streaming="onSuccess()"
            on-error="onError(err)"
            on-stream="onStream(stream)"></webcam>
        <button ng-click="makeSnapshot()">take picture</button>
    </div>


<!--    // canvas picture view-->
   <div ng-hide="hideCamDiv">
        <canvas id="snapshot"></canvas>

        <menu id="controls">
            <button ng-click="hideCanvas()">delete</button>
        </menu>
    </div>
</div>
