
<div ng-include="'partials/nav.html'"></div>


<div class="flex-main">
    <div class="carousel">
        <h1>Suitcase Here</h1>
    <!--    //images here-->
    </div>
    <div class=webcam-div>
        <div class="card">
        <div class="card-image">
          <img src="../images/grey-Background1.jpg" class="camera-placeholder">
          <span class="card-title ">Take Photo</span>
          <!-- Add Pin Modal Trigger -->
          <a class="btn-floating halfway-fab waves-effect waves-light grey" ng-href="#!/camera-mode" ><img class ="camera-icon" src="../images/photo-camera.png"></a>
        </div>

    </div>


    




<!--    <div ng-include="'partials/camera.html'" class="webcam-div"></div>-->
</div>
