


  <!--main nav-->
<div ng-include="'partials/nav.html'"></div>

<nav class="second-nav" ng-controller="NavCtrl">
<!--   view selected-->
    <div class="nav-wrapper second-nav-color">
        <a class="brand-logo center suitcase-title">{{suitName}} ~ Closet</a>
        <ul class="left">
            <li class="dark-color-text" ng-repeat="stuff in menuItems"><a href="#!/{{stuff.url}}">{{stuff.name}}</a></li>
            <li ng-controller="NavCtrl">
                <a class='dropdown-button active dark-color-text' data-activates='demoDropdown2' dropdown data-hover="true">
                    Packlist
                </a>
        <!-- Dropdown Structure -->
                <ul id='demoDropdown2' class='dropdown-content'>
                    <li><a ng-click="choseListPath('packlist')">Current List</a></li>
                    <li><a ng-click="choseListPath('stored')">Saved List</a></li>
                </ul>
            </li>
        </ul>
        <!--    title and counter display-->
        <ul class="right">
            <li class= dark-color-text><a href="">Items in Closet: {{counter}}</a></li>
            <li><a tooltipped data-position="bottom" data-delay="50" data-tooltip="edit title"><i ng-click="" class="material-icons" data-target="edit-mode-modal" modal>mode_edit</i></a></li>
            <li><a tooltipped class="title-delete-icon" data-position="bottom" data-delay="50" data-tooltip="Delete Suitcase?"><i ng-click="deleteSuitcase(suitKey)" class="material-icons">delete</i></a></li>
        </ul>
    </div>
<!--    change suitcase title modal-->
    <div id="edit-mode-modal" class="modal suitcase-modal">
        <div class="modal-content">
            <input type="text" ng-model="newSuitcase.title" placeholder="Rename Suitcase" maxlength="32">
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect btn-flat">Cancel</a>
            <a class="btn waves-effect" ng-click="editSuitcaseTitle()">Add</a>
        </div>
    </div>
</nav>

<div class="main-content-wrapper">
    <div>
        <div class="closet-message">
            <h4>Save all your photos in a virtual closet<br> for your next vacation</h4>
            <h5>Browse through your closet and pack your favorite outfits</h5>
        </div>
        <ul class="collapsible popout row" data-collapsible="accordion">
<!--           tops image ng-repeat list-->
            <li>
                <div class="collapsible-header"><img src="../images/003-shirt.png" class="clothing-icons">
                   Tops
                </div>
                <div class="collapsible-body background-images-pack-list">
                    <div class="row">
                        <div class="col s12 m3" ng-repeat="items in closetObject | filter: {type:'tops'}">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{{items.url}}">
                                </div>
                                <div class="card-content">
                                    <a tooltipped ng-click="fromClosetToSuitCase(items)" class="btn-floating btn-small waves-effect waves-light" data-position="top" data-delay="50" data-tooltip="packed to Suitcase"><i class="material-icons">shopping_basket</i></a>
                                    <a ng-click="deleteFromCloset(items)" class="btn-floating btn-small waves-effect waves-light"><i class="material-icons">delete</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header"><img src="../images/002-pants.png" class="clothing-icons">
                   Bottoms
                </div>
                <div class="collapsible-body background-images-pack-list">
                    <div class="row">
                        <div class="col s12 m3" ng-repeat="pants in closetObject | filter: {type:'bottoms'}">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{{pants.url}}">
                                </div>
                                <div class="card-content">
                                    <a tooltipped ng-click="fromClosetToSuitCase(pants)" class="btn-floating btn-small waves-effect waves-light" data-position="top" data-delay="50" data-tooltip="packed to Suitcase"><i class="material-icons">shopping_basket</i></a>
                                    <a ng-click="deleteFromCloset(pants)" class="btn-floating btn-small waves-effect waves-light"><i class="material-icons">delete</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header"><img src="../images/001-high-heels.png"  class="clothing-icons">
                   Shoes
                </div>
                <div class="collapsible-body background-images-pack-list">
                    <div class="row">
                        <div class="col s12 m3" ng-repeat="shoes in closetObject | filter: {type:'shoes'}">
                            <div class="card">
                                <div class="card-image">
                                    <img src="{{shoes.url}}">
                                </div>
                                <div class="card-content closet-view-btn-icons">
                                    <a tooltipped ng-click="fromClosetToSuitCase(shoes)" class="btn-floating btn-small waves-effect waves-light" data-position="top" data-delay="50" data-tooltip="packed to Suitcase"><i class="material-icons">shopping_basket</i></a>
                                    <a ng-click="deleteFromCloset(shoes)" class="btn-floating btn-small waves-effect waves-light"><i class="material-icons">delete</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
