<div ng-include="'partials/nav.html'"></div>

<nav class="second-nav" ng-controller="NavCtrl">
    <div class="nav-wrapper second-nav-color">
        <a class="brand-logo center">Let's get packing!</a>
    </div>
</nav>

<div class="main-content-wrapper">
    <div class="row landing-card-position">
        <div class="col s12 m4">
          <div class="card landing-card-styling">
            <div class="card-image drop-shadow-img">
              <img  class="circle" src="../images/coollllll.jpg">
            </div>
            <div class="card-content" >
              <p>First we'll start by creating a new suitcase.</p>
              <p>Then we'll add some photos!</p>
            </div>
            <div class="card-content flex-landing-card">
                    <input class="landing-card-input" placeholder="Label Your Suitcase" autofocus="true" ng-model="newSuitcase.title">
                    <a class="landing-card" ng-click="addNewSuitcase()"><i class="material-icons">library_add</i></a>
            </div>
          </div>
        </div>
    </div>
</div>
