  <div ng-include="'partials/nav.html'"></div>

<nav class="second-nav" ng-controller="NavCtrl">
    <div class="nav-wrapper second-nav-color">
        <a href="#!" class="brand-logo center second-nav-color-text">Let's get packing!</a>
    </div>
</nav>

<div class="main-content-wrapper">
    <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="../images/coollllll.jpg">
<!--          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>-->
        </div>
        <div class="card-content">
          <p>Let' start by creating a new suitcase!</p>
        </div>
        <div class="card-content flex-landing-card">
                <input class="landing-card-input" placeholder="Label Your Suitcase" autofocus="true">
                <a class="landing-card" href="#"><i class="material-icons">add_library</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
