  <!--main nav-->
<div ng-include="'partials/nav.html'"></div>

<nav class="second-nav" ng-controller="NavCtrl">
<!--   view selected-->
    <div class="nav-wrapper second-nav-color">
        <a href="#!" class="brand-logo center suitcase-title">{{suitName}}</a>
        <ul class="left hide-on-med-and-down">
            <li class="active dark-color-text" ng-repeat="stuff in menuItems"><a href="#!/{{stuff.url}}">{{stuff.name}}</a></li>
        </ul>
        <!--    title and counter display-->
        <ul class="right hide-on-med-and-down">
            <li class= dark-color-text><a href="">Items: {{counter}}</a></li>
            <li><a tooltipped data-position="bottom" data-delay="50" data-tooltip="edit title"><i ng-click="" class="material-icons" data-target="edit-mode-modal" modal>mode_edit</i></a></li>
            <li><a tooltipped class="title-delete-icon" data-position="bottom" data-delay="50" data-tooltip="Delete Suitcase?"><i ng-click="deleteSuitcase(suitKey)" class="material-icons">delete</i></a></li>
        </ul>
    </div>
<!--    change suitcase title modal-->
    <div id="edit-mode-modal" class="modal">
        <div class="modal-content">
            <input type="text" ng-model="newSuitcase.title" placeholder="Rename Suitcase" maxlength="32">
        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
          <a class="btn waves-effect red" ng-click="editSuitcaseTitle()">Add</a>
        </div>
    </div>
</nav>

<div class="main-content-wrapper">
    <a class="waves-effect waves-light btn pack-list-add-btn" data-target="label-modal" modal><i class="material-icons left">add</i>Add a label</a>
    <div>
        <ul class="collapsible popout popout-styling row" data-collapsible="accordion">
<!--           tops image ng-repeat list-->
            <li>
                <div class="collapsible-header"><img src="../images/003-shirt.png" class="clothing-icons">
                   Tops
                </div>
                <div class="collapsible-body background-images-pack-list">
                    <a ng-repeat="image in topArray"><img class="list-thumbnail" src="{{image.url}}"></a>
                    <a><img class="list-thumbnail" src="../images/funny.jpg" alt="Forest"></a>
                </div>
            </li>
<!--            bottoms image ng-repeat list-->
            <li col s12 m4>
                <div class="collapsible-header"><img src="../images/002-pants.png" class="clothing-icons">
                    Bottoms
                </div>
                <div class="collapsible-body background-images-pack-list">
                    <span ng-repeat="image in bottomArray"><img class="list-thumbnail" src="{{image.url}}"></span>
                </div>
            </li>
<!--            shoes image ng-repeat list-->
            <li col s12 m4>
                <div class="collapsible-header"><img src="../images/001-high-heels.png" class="clothing-icons">
                    Shoes
                </div>
                <div class="collapsible-body background-images-pack-list">
                    <span ng-repeat="image in shoeArray"><img class="list-thumbnail" src="{{image.url}}"></span>
                </div>
            </li>
<!--            labels and lists ng-repeat-->
            <li col s12 m4 ng-repeat="items in labelObj">
                <div class="collapsible-header"><i class="material-icons label-icon">label_outline</i>
                    <span>{{items.title}}</span>
                    <span ng-click="deleteLabel(items.label_key)"><a href="" class="secondary-content"><i class="material-icons pack-list-delete-icon" tooltipped class='col s4 offset-s4 l2 offset-l1' data-position="right" data-delay="50" data-tooltip="delete entire label?">delete</i></a></span>
                </div>
                <div class="collapsible-body pack-list">
                    <span>
                        <i class="material-icons" ng-click="addListItem(items.label_key)">add</i>
                        <input type="text" placeholder="list item" ng-model="listObj.title">
                    </span>
                    <div class="row pack-list-flex">
                        <div class="col s12 m2 pack-list-color" ng-repeat="list in listArray | filter:{label_key:items.label_key}">
                            <p>{{list.title}}</p>
                            <i class="material-icons pack-list-delete-icon" ng-click="deleteListItem(list)">delete</i>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!--  add label modal-->
    <div id="label-modal" class="modal">
        <div class="modal-content">
            <input type="text" ng-model="newLabel.title" placeholder="Customize your suitcase">
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></a>
            <a ng-click="addNewLabel()" class="btn waves-effect teal"><i class="material-icons">add</i></a>
        </div>
    </div>
</div>





