
<ul id="dropdown1" class="dropdown-content">
  <li><a ng-href="#!/suitcase">one</a></li>
  <li><a ng-href="#!/suitcase">two</a></li>
  <li class="divider"></li>
  <li><a ng-href="#!/suitcase">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a ng-href="#!/suitcase" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a ng-href="#!/tops" ng-click=runCarousel()>Tops</a></li>
      <li><a ng-href="#!/suitcase">Pants</a></li>
      <li><a ng-href="#!/suitcase">Shoes</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" ng-href="#!/suitcase"data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>


