
<nav class="nav-background" ng-controller="NavCtrl">
  <div class="nav-wrapper">
    <a class="brand-logo welcome-logo">Welcome {{firstName}}</a>
    <ul class="right">
      <li><a tooltipped class='col s4 offset-s4 l2 offset-l1' data-position="bottom" data-delay="50" data-tooltip="pack new suitcase!"><i class="material-icons" data-target='createNew' modal>library_add</i></a></li>

<!--btn col s4-->
    <!-- Dropdown Trigger -->
       <li>
        <a class='dropdown-button' data-activates='demoDropdown' dropdown data-hover="true">
            Suitcase
        </a>

        <!-- Dropdown Structure -->
        <ul id='demoDropdown' class='dropdown-content'>
            <li ng-repeat="value in select"><a ng-click="openSuitcase(value.key, value.title)">{{value.title}}</a></li>
        </ul>
        </li>
      <li><a ng-click="logout()" ng-href="#!/">Logout</a></li>
    </ul>
  </div>
<!--    create new suitecase title modal-->
  <div id='createNew' class="modal suitcase-modal">
    <div class="modal-content">
        <h4>Pack a New Suitcase</h4>
        <input type="text" ng-model="newSuitcase.title" placeholder="Title your Suitcase">
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-blue btn-flat" ng-click="clearModalInput()">Cancel</a>
      <a class="btn waves-effect blue suit-modal-btn" ng-click="addNewSuitcase()">Add</a>
    </div>
</div>

</nav>





