<!--main nav-->
<div ng-include="'partials/nav.html'"></div>

<!--second nav-->
<nav class="second-nav" ng-controller="NavCtrl">
<!--   view selected-->
    <div class="nav-wrapper second-nav-color">
        <a class="brand-logo center suitcase-title">{{suitName}}</a>
        <ul class="left hide-on-med-and-down">
            <li class="active dark-color-text" ng-repeat="stuff in menuItems"><a href="#!/{{stuff.url}}">{{stuff.name}}</a></li>
        </ul>
        <!--    title and counter display-->
        <ul class="right hide-on-med-and-down">
            <li class= dark-color-text><a href="">Items: {{counter}}</a></li>
            <li><a tooltipped data-position="bottom" data-delay="50" data-tooltip="edit title"><i ng-click="" class="material-icons" data-target="edit-mode-modal" modal>mode_edit</i></a></li>
            <li><a tooltipped class="title-delete-icon" data-position="bottom" data-delay="50" data-tooltip="Delete Suitcase?"><i ng-click="deleteSuitcase(suitKey)" class="material-icons">delete</i></a></li>
        </ul>
    </div>
<!--    change suitcase title modal-->
    <div id="edit-mode-modal" class="modal">
        <div class="modal-content">
            <input type="text" ng-model="newSuitcase.title" placeholder="Rename Suitcase" maxlength="32">
        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
          <a class="btn waves-effect red" ng-click="editSuitcaseTitle()">Add</a>
        </div>
    </div>
</nav>

<!--main content-->
<div class="main-content-wrapper">
<!--    breadcrumb and slide out nav-->
    <div class="col m12 breadcrumbs">
        <a href="">Shoes</a>
        <a tooltipped data-activates="slide-out" class="button-collapse" data-position="bottom" data-delay="50" data-tooltip="take an awesome photo"><img src="../images/photo-camera.png"></a>
    </div>

    <div class="flex-main">
    <!--    //carousel-->
        <div class="carousel carousel-1">
            <div id="card--{{items.key}}" ng-repeat="items in imageArrayOfObj" on-finish-render="ngRepeatFinished" class="carousel-item row">
                <div class="container-images">
                    <img class="carousel-img-styling" src="{{items.url}}">
                    <a ng-click="deleteShoes(items)" class="carousel-btn"><i class="material-icons delete-photo-icon">delete</i></a>
                </div>
            </div>
        </div>
    </div>
<!--    slide out camera content-->
    <ul id="slide-out" class="side-nav">
        <h4>Break out those dancing shoes<br>
        and take some photos</h4>
        <h5>We'll add them to your Pack List!</h5>
        <div class="userView">
            <div id="contain-camera">

                <div class="alert alert-error ng-scope" ng-show="webcamError">
                    <span>Webcam could not be started. Did you give access to it?</span>
                </div>
                <!--    // webcam view-->

                <div class="camera-conatiner-div">
                    <div ng-hide="hideDiv" class="webcam-div">
                        <webcam channel="channel"
                            on-streaming="onSuccess()"
                            on-error="onError(err)"
                            on-stream="onStream(stream)">
                        </webcam>
                        <div class="add-photo-btn">
                            <a class="btn waves-effect suit-modal-btn" ng-click="makeSnapshot()">Take a pic!</a>
                        </div>
                    </div>
                    <!--// canvas view-->
                    <div ng-hide="hideCamDiv" class="webcam-div">
                        <canvas id="snapshot" class="canvas-photo"></canvas>
                        <div class="add-photo-btn">
                            <a ng-click="addToCarousel()" class="btn waves-effect waves-light suit-modal-btn">Save to Suitcase</a>
                            <a ng-click="hideCanvas()" class="waves-effect btn-flat">Retry</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>
