<div ng-include="'partials/nav.html'"></div>

<div class="row">
    <h4>Suitcase: {{suitObj.title}}</h4>
    <a><i ng-click="deleteSuitcase(suitObj.existingKey, imageArrayOfObj)" class="material-icons">delete</i></a>
    <h6>Counter: {{counter}}</h6>
</div>
<div class="flex-main">


        <!--    //carousel-->
        <div class="carousel carousel-1">
            <div id="card--{{items.key_id}}" ng-repeat="items in imageArrayOfObj" on-finish-render="ngRepeatFinished" class="carousel-item row">
                <div class="col s12 m6">
                      <img src="{{items.url}}">
                      <a ng-click="deleteTops(items.key_id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
                </div>
            </div>
        </div>

        <!--   //camera did not load-->
        <div id="contain-camera">
            <div class="alert alert-error ng-scope" ng-show="webcamError">
                <span>Webcam could not be started. Did you give access to it?</span>
            </div>

            <!--    // webcam view-->
            <div ng-hide="hideDiv">
                <webcam channel="channel"
                    on-streaming="onSuccess()"
                    on-error="onError(err)"
                    on-stream="onStream(stream)">

                </webcam>
                <button ng-click="makeSnapshot()">take picture</button>
            </div>

            <!--// canvas view-->
            <div ng-hide="hideCamDiv" class="row">
                <div class="card-image">
                    <canvas id="snapshot"></canvas>
                    <a ng-click="addToCarousel()" class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a>
                    <a ng-click="hideCanvas()" class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></a>
                </div>
            </div>

        </div>
</div>
